node_modules/
artifacts/
cache/
deployments/hardhat
deployments/localhost
deployments/geth
deployments/*
typechain-types

.prettierignore.ci

.env
./.env
./*.env
./.env.*
.env*

.env.prod
.env.*
*.env


.idea/
.vscode/
.run/
bin/
.appData/
.DS_Store

dist/


notepad.sh

.appData

.deps/

logs/

notepad.txt


**/venv
**/.env
**/.venv
client/data
.idea
**/.idea
**/node_modules
*.pyc

.DS_Store
oracles/metrics.json


ignition/deployments/